<a href="https://colab.research.google.com/github/Rohith2202/OOPAssignments/blob/main/OOPAssignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Program-1

class Student():
    def __init__(self,name):
        self.name=name
    def sayname(self):
        print("My name is ",self.name)
student1=Student("Maxine")
student1.sayname()

My name is  Maxine

In [3]:
#Program-2
class student():
    marks = 99
    name = ""

    def __init__(self):
        self.marks= 96
        self.name= "Christopher"

    def score(self):
        print('Marks in the subject: ' + str(self.marks))

student_ =student()
student_.score()
marks =92
student_.marks=95
student_.score()

Marks in the subject: 96
Marks in the subject: 95

In [4]:
#Program-3
class first():
    def __init__(self):
        self.a = "IIIT"
        self.b = "DWD"
class second(first):
    def __init__(self):
        first.__init__(self)
        print("Calling private member of base class: ")
        print(self.b)
object = first()
print(object.a)

IIIT

In [5]:
#Program-4
class total:
  marks=25
  def __init__(self,num) :
    student.marks=student.marks+num

subject1=total(96)
subject2=total(88)
subject3=total(64)

print("Marks:", total.marks)
print("Marks:", subject2.marks)

Marks: 25
Marks: 25

In [6]:
#Program-5
class student():
    def __init__(self,age):
        name="Ram"
        self.age=age

    def show(self):
        if self.age<19:
            print("Student")
        else:
            print("Not student")
student3=student(18)
student3.show()

Student