<a href="https://colab.research.google.com/github/Rohith2202/OOPAssignments/blob/main/OOPAssignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Program-1

x=5
y="mystring"
print(x)
print(y)
words=y+""+y
print(words)
sum=x+3
print(sum)

5
mystring
mystringmystring
8

In [2]:
#Program-2
X="IIIT Dharwad"
print(X)
print(X[0])
print(X[2])
y=X[0:3]
print(y)

IIIT Dharwad
I
I
III

In [3]:
#Program-3

Y="IIIT Dharwad "
Y=Y.replace("IIIT","CS")
if "wad" in Y:
    print("Found")

Found

In [4]:
#Program-4

x="IIIT"
y="Dharwad"
z=["Institute","Of","National","Importance"]
i=''.join(z)
print(i)

InstituteOfNationalImportance

In [5]:
#Program-5
x="IIIT dharwad institute of national importance"
z=x.split()
print(z,len(z))
y=list(z[0])
print(y)

['IIIT', 'dharwad', 'institute', 'of', 'national', 'importance'] 6
['I', 'I', 'I', 'T']

In [8]:
#Program-6
import random
print(random.random())
print(random.randrange(0,10))
print(random.uniform(0,20))

0.6973042876299285
1
3.5765823697738597

In [7]:
#Program-7
x = input('Enter name: ')
print('Welcome to IIIT Dharwad ' + x)
phno=int(input("Enter phno:"))
print(phno)

Enter name: Ram
Welcome to IIIT Dharwad Ram
Enter phno:789654126
789654126

In [11]:
#Program-8
age=int(input("Enter age:"))
if age==3:
    print("Age 3")
elif age==4:
    print("age 4")
else:
    print("age is",age)

Enter age:102
age is 102

In [10]:
#Program-9
x=0
while x<10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [9]:
#Program-10
def add():
    x=int(input("Enter number 1:"))
    y=int(input("Enter number 2:"))
    z=x+y
    print(z)
add()

Enter number 1:115
Enter number 2:264
379